{% load static %}
<div id="metanotes-toggle" class="metanotes-toggle-btn">+</div>
<div id="metanotes-overlay" class="metanotes-notes-panel">
    <h4 class="metanotes-panel-header">META NOTES</h4>
    <div id="metanotes-list" class="metanotes-notes-list"></div>
    <textarea id="metanote-content" class="metanotes-note-input" placeholder="Add a note..."></textarea>
    <button class="metanotes-add-note-btn" onclick="addNote()">Add Note</button>
</div>

<style>
    .metanotes-toggle-btn {
        width: 40px;
        height: 40px;
        background: rgba(0, 0, 0, 0.8);
        color: #fff;
        position: fixed;
        top: 50%;
        right: 0;
        z-index: 10000000;
        cursor: pointer;
        text-align: center;
        line-height: 40px;
        transition: background 0.3s;
        font-size: 16px;
        display: flex;
        align-items: center;
        justify-content: center;
        pointer-events: auto;
    }

    .metanotes-toggle-btn:hover {
        background: rgba(0, 0, 0, 1);
    }

    .metanotes-toggle-btn.pulsing {
        animation: pulse 1s infinite;
    }

    @keyframes pulse {
        0% {
            box-shadow: 0 0 5px rgb(37, 133, 17);
        }
        50% {
            box-shadow: 0 0 10px rgb(37, 133, 17);
        }
        100% {
            box-shadow: 0 0 5px rgb(37, 133, 17);
        }
    }

    .metanotes-notes-panel {
        position: fixed;
        top: 0 !important;
        right: 0;
        bottom: 0;
        width: 400px;

        background: rgba(0, 0, 0, 0.85);
        color: #fff;
        padding: 20px;
        display: none;
        /*border-bottom-left-radius: 10px;*/
        z-index: 10000000;
        pointer-events: auto;
        overflow-y: auto;
    }


    .metanotes-panel-header {
        margin: 0;
        padding-bottom: 10px;
        border-bottom: 1px solid #555;
    }

    .metanotes-notes-list {
        max-height: 500px;
        overflow-y: auto;
        margin-bottom: 10px;
    }

    .metanotes-note-input {
        width: 100%;
        height: 50px;
        margin-bottom: 10px;
    }

    .metanotes-add-note-btn {
        width: 100%;
        background: #084b7c;
        color: #fff;
        border: none;
        padding: 10px;
        cursor: pointer;
    }

    .metanotes-note {
        background: #444;
        padding: 10px;
        border-radius: 5px;
        position: relative;
        margin-bottom: 10px;
        display: flex;
        flex-direction: column;
    }

    .metanotes-note .author,
    .metanotes-note .timestamp {
        font-size: 0.6em;
        align-self: flex-end;
    }

    .metanotes-remove-button {
        position: absolute;
        top: 10px;
        right: 10px;
        background: none;
        border: none;
        color: #e74c3c;
        cursor: pointer;
    }


</style>
<script src="{% static 'metanotes/metanotes.js' %}"></script>